.page
    box-sizing border-box
    width 210mm
    height 297mm
    padding 28.55mm
    border 1px solid gray

.atp-box
    fill none; //#eee

.beamline__title-bg,
.project__title-bg,
.atpComponent__title-bg
    fill white
    stroke white

.atpComponent__title, .project__title
    font-variant-caps all-small-caps

.beamlineGroup__title
    font-weight: 900
    //text-transform uppercase
    font-variant-caps all-petite-caps

.node--beamlines
    display none
//.atpComponent__title-bg
//    fill #eee
//    stroke #eee

.svg-container
    width 153.783mm
    height calc(200vh - 2 * 30px)
    border-top 1px solid gray

line

    &.grid
        stroke #ccc
        stroke-width .0px
    &.horizontal-small
        stroke gray
        stroke-width .5px

text
    font-family Lato
    font-size 8px
    text-anchor start
    letter-spacing .5px

text.project__title,
text.atpComponent__title
    font-size 10px
    font-weight 900

path
    stroke #499149
    stroke #dddddd
    stroke-width 1px
    fill none

.atpComponent__rect
    fill #dddddd

.project--bar
    fill #dddddd

rect
    &.collection--activities-ARD
        fill #499149
    &.collection--activities-DTS
        fill #ff6e2b

line.activities-ard
    stroke #499149

.collection--activities-ard
    rect
        &.collection--activities-ST3
            fill #499149
        &.collection--activities-ST4
            fill #4ec462

.has-topic-MML
    stroke yellow
    mix-blend-mode: multiply
.has-topic-DTS
    stroke #ff6e2b
    mix-blend-mode: multiply
.has-topic-ARD
    stroke #499149
    mix-blend-mode: multiply


line.activities-dts
    stroke #ff6e2b

.collection--activities-dts

    rect
        fill #ff6e2b
        &.collection--activities-ST1
            fill #ff6e2b
        &.collection--activities-ST2
            fill #b54a1f
        &.collection--activities-ST3
            fill #6d2b14

.project__year-bg
    fill #eee

.project__year
    fill none
    text-align center
